$deicon_blue: #293173;
$deicon_light_blue: #525284;

$deicon_orange: #f75229; // 	rgb(247,​ 82,​ 41)
$deicon_color: $deicon_blue;

$top-bar-background-color: #ffffff;
$top-bar-border-color: #ffffff;
$top-bar-menu-item-background-color: #ffffff;
$top-bar-menu-item-background-color-hover: #eef0f9; // rgb(238,​ 240,​ 249)

$top-bar-navigation-text-size: 16px;

$icon-radius: 50px;