doctype html
html.no-js(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible", content="ie=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        title Deicon Style for Foundation

        link(rel="stylesheet", href="assets/foundation-6/css/foundation.css")
        link(rel="stylesheet", href="assets/foundation-6/css/app.css")

    .row
        .top-bar.white-bg
            .top-bar-left.white-bg
                img(src="assets/img/logo_notext.png")
            .top-bar-right
                ul.menu.nav-list
                    li: a(href="") Leistungen
                    li: a(href="") Projekte
                    li: a(href="") Kontakt
                    li: a(href="") Blog
    .row
        .large-12.columns
            hr.deicon_hr
