doctype html
html.no-js(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible", content="ie=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        title Deicon Style for Foundation

        link(rel="stylesheet", href="assets/foundation-6/css/foundation.css")
        link(rel="stylesheet", href="assets/foundation-6/css/app.css")
        link(rel="stylesheet", href="assets/foundation-icons/foundation-icons.css")

    .row
        .top-bar
            .top-bar-left.white-bg
                img(src="assets/img/logo_notext.png")
            .top-bar-right
                ul.menu.nav-list
                    li: a(href="") Leistungen
                    li: a(href="") Projekte
                    li: a(href="") Kontakt
                    li: a(href="") Blog
    .row
        .large-12.columns
            hr.deicon_hr

    .row
        .large-12.columns.main-content
            h1 Herzlich Willkommen
            p
                |IT-Projektmanagement ist unsere Kernkompetenz,und Qualität dabei der Motor. Im Dialog mit unseren
                |Kunden entwickeln wir einfache, langlebige und wartbare Software
                |– sowohl auf Basis selbst entwickelter als auch frei verfügbarer Komponenten.
                |Jede Branche, jedes Unternehmen, jedes Projekt ist
                |anders. Deshalb bekommen Sie bei deicon nichts “von der Stange”,
                |sondern maßgeschneiderte Lösungen. Die ganzheitliche Sicht auf Ihr
                |Unternehmen ist dabei unsere Arbeitsgrundlage. Herausragende Fachkompetenz
                |ist für uns selbstverständliche Basis unserer Arbeit. Ebenso unerlässlich:
                |Integrität, Motivation und unser Engagement über die üblichen Bürozeiten hinaus.
                |Und natürlich die Begeisterung für das, was wir tun:
                |Ihre Projekte erfolgreich zu machen.

    .row
        .large-6.columns
            i.fi-eye.round-icon
            h1.center Vision

        .large-6.columns
            i.fi-eye.round-icon
            h1.center Vision