:verbatim
    ---
    layout: default
    permalink: "/Leistungen/"
    nav-name: Leistungen
    ---
.main-content
  
  h1 Unsere Dienstleistungen
  p
    | Projektmanagement und Softwareentwicklung sind unsere Kernkompetenzen, 
    | die wir Ihnen mit fundiertem Know-how, langjähriger Erfahrung und herausragender
    | Motivation anbieten – von der Projektleitung und dem Projektcontrolling über 
    | die Konzeption und Realisierung komplexer Serveranwendung bis hin zur gezielten 
    | und temporären Projektunterstützung.
  p
    | Aber damit nicht genug! Auch nach dem erfolgreichen
    | Projektabschluss unterstützen wir Sie – durch Einführungen, Schulungen und Trainings.
    | Und auch dabei gilt: Kein Standardprogramm, sondern maßgeschneidert und individuell 
    | für Ihr Unternehmen aufbereitet!
    
.main-content-body

  .main-content-body-col1
    i.round-icon.icon-line-chart
    h3 Softwareentwicklung
    p 
      |Gerade wenn es um die Konzeption und Realisierung komplexer Serveranwendungen mit hohem 
      | Transaktionsvolumen geht, ist die deicon it solutions Ihr Partner!

    p
      | Ob Einsatz freier Software (Open Source), XML-basierte E-Business oder Business-to-Business-Systeme 
      | oder agiler Entwicklungsprozesse – 
      | insbesondere kritische und anspruchsvolle Projekte sind für uns eine Herausforderung, 
      | der wir uns gerne stellen!

  .main-content-body-col2
    i.round-icon.icon-user
    h3 Schulung / Coaching
    p
      | Maßgeschneidert, individuell, effektiv – das gilt für unsere Schulungen und Workshops im selben Maße
      | wie für unsere anderen IT-Dienstleistungen. In unseren Trainings 
      | arbeiten wir deshalb immer unternehmensindividuell,
      | projektbezogen und lösungsorientiert, auch was die Schulungsunterlagen betrifft. Sie, 
      | Ihr Unternehmen und seine Mitarbeiter sind unser Maßstab – nicht mehr, nicht weniger.

    p
      | Ganz konkret bieten wir Schulungen zu folgenden Themen an
      ul
        li. Java
        li. Extreme Programming
        li. Datenbanken
    p
      |Unsere Trainer sind ohne Ausnahme Praktiker, die ihr Expertenwissen bereits in Büchern, Fachartikeln
      | oder Vorträgen veröffentlicht haben.
div(style="clear: both;")
