:verbatim
  ---
  layout: "default"
  permalink: "/Publikationen/"
  navigation: true
  nav-name: Publikationen
  ---
.main-content
    .main-content-body
        .main-content-body-col1
            .center 
              a(href="http://www.amazon.de/exec/obidos/ASIN/3827264626/deiconde-21", target="_blank")
                img(src="/assets/img/buch-1.jpg")
              h3 Java mit Open Source
            p
              | Finden Sie Ihren Einstieg in die professionelle Softwareentwicklung mit Java mit unserem Buch “Java mit Open Source Werkzeugen”.
              | Anhand einer konkreten Fallstudie werden namhafte Werkzeuge und Projekte vorgestellt und deren Verwendung präsentiert.
        .main-content-body-col2
            .center
              a(href="http://www.amazon.de/exec/obidos/ASIN/3827266807/deiconde-21", target="_blank")
                img(src="/assets/img/buch-2.jpg")
              h3 J2EE mit Struts und Co.
            p
              | Die zweite Auflage unseres Open Source Buchs mit Schwerpunkt auf J2EE und Struts. “J2EE mit Struts und Co.”.
              | Dargestellt ist die Verwendung von Standard Web Frameworks zur Erstellung unternehmensweiter Anwendungen.
        div(style='clear: both;')
