:verbatim
    ---
    layout: default
    permalink: "/Projekte/"
    nav-name: Projekte
    ---

.main-content
    .main-content-body
        .main-content-body-col1
            i.round-icon.icon-cogs
            h3 Unser Know-How
            p
                | Ihre Ansprüche sind hoch. Unsere auch. Deshalb liegt unser Schwerpunkt in der Realisierung komplexer
                | Softwaresysteme.
                | Dabei kommt Ihnen unser besonderes Know-how in der Anwendungsentwicklung mit Java sowie der
                | Datenbankentwicklung und Administration mit relationalen Datenbanken zugute. Und unser fundiertes Wissen
                | im Einsatz agiler Entwicklungsprozesse insbesondere bei kritischen oder besonders anspruchsvollen
                | Projekten sorgt für zügigen Projektfortschritt.

                | Weitere Kompetenzschwerpunkte sind:
                ul
                    li. Einsatz freier Software (Open Source) in Entwicklungs- und Produktionsumgebungen
                    li. XML-basierte E-Business- oder Business-to-Business-Systeme
                    lI
                        | Projekteunterstützung durch spezielles Experten-Know-how, zum Beispiel SAP-Basis- und Modulexperten,
                        | Programmierer und Datenbankexperten

                | Fordern Sie uns. Wir freuen uns darauf.
        .main-content-body-col2
            i.round-icon.icon-book
            h3 Presse / Referenzen / Broschüren
            p
                ul
                    li: a(href="/down/javamag082003.pdf") Buchbesprechung im JavaMagazin, 08.2003
                    li: a(href="/down/referenz_coba.PDF") Projekt FX Options Trader, Commerzbank Investmentbanking, Frankfurt
                    li: a(href="/down/referenz_dwh.pdf") Projekt DWH, Immobilienfonds, Frankfurt
                    li: a(href="/down/referenz_reims.pdf")  Projekt Portfolio Management, Immobilienfonds, Frankfurt
        div(style='clear: both;')
